<a href="https://colab.research.google.com/github/newmong/AI_12_HASANGWOO/blob/main/n112_qna_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 형변환

#### `astype`을 통한 직접 변환

In [ ]:
# pandas 라이브러리
import pandas as pd

In [ ]:
# 데이터 프레임 생성
df1 = pd.DataFrame({'col_str_1' : ['1', '2', '3'],
                    'col_str_2' : ['4.1', '5.5', '6.0']}) 
df1

  col_str_1 col_str_2
0         1       4.1
1         2       5.5
2         3       6.0

In [ ]:
# data type 확인
df1.dtypes
# 판다스에서는 문자열을 object라는 자료형으로 나타냅니다. 파이썬에서는 문자열을 string이라고 하지만, 판다스는 object라고 합니다. 
# pd.DataFrame을 사용하여 데이터프레임을 만들때 dtype(형식)을 지정해주는게 아니라면 일반적으로 데이터를 받아들일 때 숫자형을 제외한 나머지는 object로 받아들이는 것 같아요.

col_str_1    object
col_str_2    object
dtype: object

In [ ]:
# 직접 문자열 -> 실수형 형변환
df1_float = df1.astype(float)
df1_float

   col_str_1  col_str_2
0        1.0        4.1
1        2.0        5.5
2        3.0        6.0

In [ ]:
# 형변환 결과 확인
df1_float.dtypes

col_str_1    float64
col_str_2    float64
dtype: object

#### `pd.to_numeric`을 통한 문자열 -> 숫자형 변환

In [ ]:
df1

  col_str_1 col_str_2
0         1       4.1
1         2       5.5
2         3       6.0

In [ ]:
# pd.to_numeric 활용
df1_tn = df1.apply(pd.to_numeric)
df1_tn

   col_str_1  col_str_2
0          1        4.1
1          2        5.5
2          3        6.0

In [ ]:
df1.dtypes

col_str_1    object
col_str_2    object
dtype: object

In [ ]:
# pd.to_numeric 형변환 결과 확인
df1_tn.dtypes

col_str_1      int64
col_str_2    float64
dtype: object

## apply

#### 1.

In [ ]:
df2 = pd.DataFrame({'col_str_1' : ['1', '2', '3'],
                    'col_str_2' : ['4.1', '5.5', '6.0'],
                    'col_str_3' : ['1,000', '25,000', '45,000']}) 
df2

  col_str_1 col_str_2 col_str_3
0         1       4.1     1,000
1         2       5.5    25,000
2         3       6.0    45,000

In [ ]:
# 입력된 문자열에 대해서 같은 작업을 하는 함수 작성
# ,를 삭제하고, int형으로 형변환하고싶다!
def toInt(a):
    return int(a.replace(',',''))

In [ ]:
toint_result = df2['col_str_3'].apply(toInt)
toint_result

0     1000
1    25000
2    45000
Name: col_str_3, dtype: int64

In [ ]:
df2['col_str_3'] = toint_result

In [ ]:
df2

  col_str_1 col_str_2  col_str_3
0         1       4.1       1000
1         2       5.5      25000
2         3       6.0      45000

#### 2.

In [ ]:
df3 = df1_tn
df3

   col_str_1  col_str_2
0          2        4.1
1          3        5.5
2          4        6.0

In [ ]:
df3.dtypes

col_str_1      int64
col_str_2    float64
dtype: object

In [ ]:
# +1 을 해주는 함수
def plus_1(x):
    x += 1 # 할당 연산자, x = x+1
    return x

In [ ]:
# apply를 활용해 함수 적용
df3['col_str_1'].apply(plus_1)

0    3
1    4
2    5
Name: col_str_1, dtype: int64

In [ ]:
# 결과 값을 데이터 프레임에 저장
df3['col_str_1'] = df3['col_str_1'].apply(plus_1)

In [ ]:
df3

   col_str_1  col_str_2
0          3        4.1
1          4        5.5
2          5        6.0